<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> CONTENT | E-COMMERCE</title>
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <link rel="icon" href="https://yt3.ggpht.com/a/AGF-l78km1YyNXmF0r3-0CycCA0HLA_i6zYn_8NZEg=s900-c-k-c0xffffffff-no-rj-mo" type="image/gif" sizes="16x16">

    <link rel="stylesheet" href="{% static 'css/content.css' %}">

</head>
<body>
    <div id="mainContainer">

        <h1>  For men </h1>
        <div id="containerClothing">

            <a href="https://www.amazon.in/Amazon-Brand-Symbol-Sweatshirt-AW18MNSSW02E_Black_Large/dp/B07DP2Z3BY/ref=sr_1_16?pf_rd_i=1968024031&pf_rd_m=A1K21FY43GMZF8&pf_rd_p=47de5f97-f06a-4280-a9fd-8899bdcd2ade%2Cd6b168b2-4987-404f-916a-02fe34eec832&pf_rd_r=130e63fd-fbd4-4f91-804c-9dd684b77efa&pf_rd_s=center-1&pf_rd_t=101&qid=1665323837&refinements=p_85%3A10440599031&rnid=10440598031&rps=1&s=apparel&sr=1-16">

                <img src="sectionimg/img1.jpg" alt="menffff1">
                <p> <b>Van Heusen Athleisure <br>
                    Men's Regular Fit T-Shirt <br>
                RS.1700</b> 
                </p>

            </a>
            <a href="https://www.amazon.in/Qube-Fort-Collins-Sweatshirt-929247/dp/B08C33R824/ref=sr_1_19?pf_rd_i=1968024031&pf_rd_m=A1K21FY43GMZF8&pf_rd_p=47de5f97-f06a-4280-a9fd-8899bdcd2ade%2Cd6b168b2-4987-404f-916a-02fe34eec832&pf_rd_r=130e63fd-fbd4-4f91-804c-9dd684b77efa&pf_rd_s=center-1&pf_rd_t=101&qid=1665323837&refinements=p_85%3A10440599031&rnid=10440598031&rps=1&s=apparel&smid=A1WYWER0W24N8S&sr=1-19">

                <img src="sectionimg/img2.jpg" alt="menffff1">
                <p> <b>Peter England<br>
                    Men's Regular Fit T-Shirt <br>
                RS.900</b> 
                </p>

            </a>

            <a href="https://www.amazon.in/Qube-Fort-Collins-Sweatshirt-601Q_Leaf_XL/dp/B08F3Z83V4/ref=sr_1_22?pf_rd_i=1968024031&pf_rd_m=A1K21FY43GMZF8&pf_rd_p=47de5f97-f06a-4280-a9fd-8899bdcd2ade%2Cd6b168b2-4987-404f-916a-02fe34eec832&pf_rd_r=130e63fd-fbd4-4f91-804c-9dd684b77efa&pf_rd_s=center-1&pf_rd_t=101&qid=1665323837&refinements=p_85%3A10440599031&rnid=10440598031&rps=1&s=apparel&sr=1-22">

                <img src="sectionimg/img3.jpg" alt="menffff1">
                <p> <b>Qube By Fort Collins
                    <br>
                    Men's Regular Fit T-Shirt <br>
                RS.900</b> 
                </p>

            </a>
            <a href="https://www.amazon.in/Red-Tape-Jacket-Relaxed-RFJ0904_Dark/dp/B08L83J7WB/ref=sr_1_25?pf_rd_i=1968024031&pf_rd_m=A1K21FY43GMZF8&pf_rd_p=47de5f97-f06a-4280-a9fd-8899bdcd2ade%2Cd6b168b2-4987-404f-916a-02fe34eec832&pf_rd_r=130e63fd-fbd4-4f91-804c-9dd684b77efa&pf_rd_s=center-1&pf_rd_t=101&qid=1665323837&refinements=p_85%3A10440599031&rnid=10440598031&rps=1&s=apparel&sr=1-25">

                <img src="sectionimg/img4.jpg" alt="menffff1">
                <p> <b>U.S. POLO ASSN.
                    <br>
                    Men's Regular Fit T-Shirt <br>
                RS.7400</b> 
                </p>

            </a>
            <a href="https://www.amazon.in/Qube-Fort-Collins-Jacket-1191Q_Maroon_M/dp/B088RFHWKW/ref=sr_1_28?pf_rd_i=1968024031&pf_rd_m=A1K21FY43GMZF8&pf_rd_p=47de5f97-f06a-4280-a9fd-8899bdcd2ade%2Cd6b168b2-4987-404f-916a-02fe34eec832&pf_rd_r=130e63fd-fbd4-4f91-804c-9dd684b77efa&pf_rd_s=center-1&pf_rd_t=101&qid=1665323837&refinements=p_85%3A10440599031&rnid=10440598031&rps=1&s=apparel&sr=1-28">

                <img src="sectionimg/img5.jpg" alt="menffff1">
                <p> <b>Amazon Brand - Symbol
                    <br>
                    Men's Regular Fit T-Shirt <br>
                RS.5080</b> 
                </p>

            </a>


        </div>

        <h1> For women </h1>
        <div id="containerAccessories">
            <!-- JS rendered code -->
            <a href="https://www.amazon.in/Lymio-Women-Stylish-Latest-D-584-590/dp/B0B7XBMB52/ref=sr_1_1?pf_rd_i=7459780031&pf_rd_m=A1VBAL9TL5WCBF&pf_rd_p=49d616c6-91f5-4945-9d8a-b09841be16ca&pf_rd_r=CXQC1DBVYX4QCGTFBD3J&pf_rd_s=merchandised-search-11&qid=1665324113&refinements=p_85%3A10440599031%2Cp_n_date_first_available_absolute%3A1318487031&rps=1&s=apparel&sr=1-1">

                <img src="sectionimg/fem1.jpg" alt="menffff1">
                <p> <b>Van Heusen Athleisure <br>
                    Men's Regular Fit T-Shirt <br>
                RS.4700</b> 
                </p>

            </a>

            <a href="https://www.amazon.in/Leriya-Fashion-Western-Dresses-Multicolor/dp/B0BDVTNFVN/ref=sr_1_10?pf_rd_i=7459780031&pf_rd_m=A1VBAL9TL5WCBF&pf_rd_p=49d616c6-91f5-4945-9d8a-b09841be16ca&pf_rd_r=CXQC1DBVYX4QCGTFBD3J&pf_rd_s=merchandised-search-11&qid=1665324113&refinements=p_85%3A10440599031%2Cp_n_date_first_available_absolute%3A1318487031&rps=1&s=apparel&sr=1-10">

                <img src="sectionimg/fem2.jpg" alt="menffff1">
                <p> <b>Van Heusen Athleisure <br>
                    Men's Regular Fit T-Shirt <br>
                RS.7700</b> 
                </p>

            </a>

            <a href="https://www.amazon.in/Smarty-Pants-Womens-Trouser-SMPT-770A_Black_M/dp/B0BDVPFKLW/ref=sr_1_19?pf_rd_i=7459780031&pf_rd_m=A1VBAL9TL5WCBF&pf_rd_p=49d616c6-91f5-4945-9d8a-b09841be16ca&pf_rd_r=CXQC1DBVYX4QCGTFBD3J&pf_rd_s=merchandised-search-11&qid=1665324113&refinements=p_85%3A10440599031%2Cp_n_date_first_available_absolute%3A1318487031&rps=1&s=apparel&sr=1-19">

                <img src="sectionimg/fem3.jpg" alt="menffff1">
                <p> <b>Van Heusen Athleisure <br>
                    Men's Regular Fit T-Shirt <br>
                RS.4700</b> 
                </p>

            </a>
            <a href="https://www.amazon.in/ABSOLUTE-DEFENSE-Dragon-Sweatshirt-Stylish/dp/B0BFF7FM5N/ref=sr_1_25?pf_rd_i=7459780031&pf_rd_m=A1VBAL9TL5WCBF&pf_rd_p=49d616c6-91f5-4945-9d8a-b09841be16ca&pf_rd_r=CXQC1DBVYX4QCGTFBD3J&pf_rd_s=merchandised-search-11&qid=1665324113&refinements=p_85%3A10440599031%2Cp_n_date_first_available_absolute%3A1318487031&rps=1&s=apparel&sr=1-25">

                <img src="sectionimg/fem4.jpg" alt="menffff1">
                <p> <b>Van Heusen Athleisure <br>
                    Men's Regular Fit T-Shirt <br>
                RS.700</b> 
                </p>

            </a>
            <a href="https://www.amazon.in/High-Star-Women-Black-Stretchable/dp/B0B7P4C1CB/ref=sr_1_28?pf_rd_i=7459780031&pf_rd_m=A1VBAL9TL5WCBF&pf_rd_p=49d616c6-91f5-4945-9d8a-b09841be16ca&pf_rd_r=CXQC1DBVYX4QCGTFBD3J&pf_rd_s=merchandised-search-11&qid=1665324113&refinements=p_85%3A10440599031%2Cp_n_date_first_available_absolute%3A1318487031&rps=1&s=apparel&sr=1-28">

                <img src="sectionimg/fem5.jpg" alt="menffff1">
                <p> <b>Van Heusen Athleisure <br>
                    Men's Regular Fit T-Shirt <br>
                RS.19000</b> 
                </p>

            </a>
            
        </div>
    </div>
</body>
<script src="content.js"></script>
</html>