{% load static %}

<!DOCTYPE html>
<html>
<body>

<h2>HTML Forms</h2>

<form action=""  method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <label for="fname">First name:</label><br>
  <input type="text" id="fname" name="fname" value="John"><br>
  <label for="lname">Last name:</label><br>
  <input type="text" id="lname" name="lname" value="Doe"><br><br>
  <br>
 
  <input type="file" name="profile_pic" id="profile_pic">
  <input type="submit" value="Submit">
</form> 

</body>
</html>